.fi-super-alert {
    @apply flex rounded-lg p-4;

    color: var(--text);

    &.fi-color {
        background-color: var(--bg);
        --bg: var(--color-50);
    }

    .fi-super-alert-text {
        @apply grid gap-1 ml-3;

        .fi-super-alert-heading {
            @apply font-medium;
        }
    }
}
